<?xml version="1.0" encoding="ISO-8859-1"?>

<!--[ ?? ?????? ?????? ?????????????? ??? ??????? ? web.xml, ???????? ???? ? ??? ????? ?? ????-??? ????????... ]-->
<web-app>
    <servlet>
        <!--[ ????????? ??? ???????? (??? ????? ???? ?????) ??? ??? ???????? ???????????????, ? ?????? ???? ?????????? ]-->
        <!--[ ????, ????? ??? ???????? ???????????????? ? ????? ?????, ? ?????? web.xml ?? ????? ?????? ?? ????????????? ?? ?????? URL ]-->
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>servlets.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <!--[ ????????? ?????? ???????? ???? ? ????????, ????? ???? ?? ????? ? ???? ?????????? ?? ??? name (??????????????) ]-->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>